@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<Style>
    @@media (max-width: 991px) {
  .column-margin {
    margin: 5px 0;
  }

        
}
</Style>
@* <button class="fourth">Fourth Alert</button> *@
<div class="container-fluid">
    <div class="row" id="GetData">
        <div class="col-md-3 col-sm-3">
            <div class="card text-center">
                <div class="card-header bg-gradient text-white p-1">
                    Add Title
                </div>
                <div class="card-body">
                  
                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label float-lg-start">Text</label>
                        <textarea class="form-control" rows="2" id="comment" name="text" placeholder="Enter the note text"></textarea>
                    </div>
                </div>
                <div class="card-footer">
                   
                    <div class="d-grid gap-2">
                        <button class="btn bg-gradient  text-white" type="button" onclick="AddNote()">Add Note</button>
                       
                    </div>
                </div>
            </div>
        </div>
         @* <div class="col-md-3 col-sm-3 p-1 column-margin">
            <div class="card text-center">
                <div class="card-header bg-gradient text-white">
                    Created On 09/05/2024 19.15pm 
                </div>
                <div class="card-body">

                    <div class="mb-3">
                        <label for="formGroupExampleInput" class="form-label float-lg-start">Text</label>
                        <textarea class="form-control" rows="2" id="comment" name="text" placeholder="Enter the note text"></textarea>
                    </div>
                </div>
                <div class="card-footer">

                    <div class="d-grid gap-2 d-md-block mx-auto">
                        <button class="btn btn-danger" type="button">Delete</button>
                        <button class="btn btn-primary" type="button">Save</button>
                    </div>

                </div>
            </div>
        </div>  *@
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {

            var url = localapiurl;
            GetAllNotes();
        })

        function GetAllNotes(){
            var htmlstring = '';
            $.ajax({
                type: "GET",
                url: localapiurl+'Notes',
                contentType: "application/json",
                dataType: "json",
                success: function (response) {
                    $.each(response.data, function (index, value) {
                        htmlstring = make_html_for_card(value)
                        $('#GetData').append(htmlstring);
                    });
                       
                },
                failure: function (response) {
                    alert("Error in redendring");
                }
            });
        }
        function make_html_for_card(card) {
           // var cardid = card.id.toString();
            return `<div class="col-md-3 col-sm-3 p-1 column-margin">
                    <div class="card text-center">
                        <div class="card-header bg-gradient text-white">
                                    ${card.createdOn}
                        </div>
                        <div class="card-body">

                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label float-lg-start">Text</label>
                                        <textarea class="form-control" rows="2" id="comment${card.id}" name="text" placeholder="Enter the note text">${card.text}</textarea>
                            </div>
                        </div>
                        <div class="card-footer">

                            <div class="d-grid gap-2 d-md-block mx-auto">
                                 <button class="btn btn-danger" type="button" value=${card.id} onclick='remove(\"${card.id}\");'>Delete</button>
                                   <button class="btn btn-primary" type="button" value=${card.id} onclick='save(\"${card.id}\");'>Save</button>
                            </div>

                        </div>
                    </div>
                </div> `;
           
        }
        function AddNote(){
            if ($("#comment").val() == '' || $("#comment").val()==null) {
                toastr.error('Please enter note', 'Inconceivable!');
                return false;
            }
            var data = {
                text: $("#comment").val()
            }
            $.ajax({
                type: "POST",
                url: localapiurl + 'Notes/InsertNoteDetails',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.code == 200) {
                        Swal.fire({
                            icon: 'success',
                            title: "Alright!",
                            text: "Note created successfully",
                            position: "middle",
                            //backdrop: "linear-gradient(yellow, orange)",
                            backdrop: "white",
                            background: "white",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false,
                            showConfirmButton: true,
                            showCancelButton: false,
                            //timer: 3000
                        }).then((result) => {
                            if (result.isConfirmed) {
                                // Swal.fire({
                                //     title: "Deleted!",
                                //     text: "Your file has been deleted.",
                                //     icon: "success"
                                // });
                                location.reload();
                            }
                        });
                    }
                    else {
                        toastr.error('Something Went Wrong', 'Inconceivable!');
                    }


                },
                failure: function (response) {
                    alert("Error in creating note");
                }
            });
        }
        function save(noteid){
            
            if ($("#comment" + noteid + "").val() == '' || $("#comment" + noteid + "").val() == null) {
                toastr.error('Please enter note', 'Inconceivable!');
                return false;
            }
            var data = {
                text: $("#comment" + noteid + "").val()
            }
            $.ajax({
                type: "POST",
                url: localapiurl + 'Notes/UpdateNoteDetails?id='+noteid+'',
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify(data),
                success: function (response) {
                    if (response.code == 200) 
                    {
                        Swal.fire({
                            icon: 'success',
                            title: "Alright!",
                            text: "Note updated successfully",
                            position: "middle",
                            //backdrop: "linear-gradient(yellow, orange)",
                            backdrop: "white",
                            background: "white",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false,
                            showConfirmButton: true,
                            showCancelButton: false,
                            //timer: 3000
                        })
                        .then((result) => {
                            if (result.isConfirmed) {
                            
                                location.reload();
                            }
                        });
                    }
                      else {
                    toastr.error('Something Went Wrong', 'Inconceivable!');
                }


                },
                failure: function (response) {
                    alert("Error in creating note");
                }
            });
        }
        function remove(noteid){
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                     DeleteById(noteid);
                    
                }
            });
        }
         function DeleteById(noteid) {
            $.ajax({
                type: "DELETE",
                url: localapiurl + 'Notes/' + noteid + '',
                contentType: "application/json",
                dataType: "json",
                data: { },
                success: function (response) {
                    if (response.code == 200) {
                        location.reload();
                    }
                    else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something went wrong!",
                            //footer: '<a href="#">Why do I have this issue?</a>'
                        });
                    }


                },
                failure: function (response) {
                    alert("Error in creating note");
                }
            });
          
        }
        // document.querySelector(".fourth").addEventListener("click", function () {
        //     Swal.fire({
        //         icon:'success',
        //         title: "Alright!",
        //         text: "Note created successfully",
        //         position: "middle",
        //         //backdrop: "linear-gradient(yellow, orange)",
        //         backdrop: "white",
        //         background: "white",
        //         allowOutsideClick: false,
        //         allowEscapeKey: false,
        //         allowEnterKey: false,
        //         showConfirmButton: true,
        //         showCancelButton: false,
        //         //timer: 3000
        //     }).then((result) => {
        //         if (result.isConfirmed) {
        //             // Swal.fire({
        //             //     title: "Deleted!",
        //             //     text: "Your file has been deleted.",
        //             //     icon: "success"
        //             // });
        //             location.reload();
        //         }
        //     });
            
            
        // });
    </script>
}
